* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: red;
    /* grid-area: 1 / 1 / 2 / 5;
    grid-row-start / grid-column-start / grid-row-end / grid-column-end */
}
.caixa2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blue;
    /* grid-row: 2 / 4;
       grid-column: 1 / 3; */
}
.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: green;
    /* grid-row-start: 2;
       grid-row-end: span 3;
       grid-column-start: 3;
       grid-column-end: span 2; */
}