* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body, html {
    background-color: bisque;
}
header {
    background-color: beige;
}
h1 {
    padding: 10px;
    text-align: center;
}
span#burguer {
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover {
    background-color: white;
    color: black;
}
menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(179, 179, 161);
    color: white;
    text-align: center;
    border-top: 2px solid beige;
}
menu >ul >li >a:hover {
    background-color: rgb(177, 177, 147);
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article >h2{
    padding-bottom: 20px;
}
article>p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}